body {
    background-image: url("images/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.61);
    background-blend-mode:soft-light;
}

.background {
    background-image: url("images/background.jpeg");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-container {
    background-image: url("images/studs.png");
    background-size: 25%;
    margin: auto;
    background-color: rgb(0, 198, 0);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    width: 300px; /* Set a fixed width for the form */
    text-align: center; /* Center text within the container */
}

.img-title {
    display: block;
    margin: auto;
}